.App {
  width: 100vw;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
  text-align: center;
  background-color: rgba(96, 100, 232, 0.321);
}
